/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 25, 2023, 11:38:52 AM
    Author     : Flori Vula
*/

#imageBox{
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1;
    -fx-border-color: #0097e6;
    -fx-padding: 0px;
    -fx-background-color: #fff;
}